<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
        <title>typvp - Typing Speed Test</title>
        <style>
            @font-face {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-display: swap;
                src: url('../assets/fonts/Inter-Black.woff2') format('woff2'),
                url('../assets/fonts/Inter-Black.woff') format('woff');
            }
            @font-face {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-display: swap;
                src: url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
                url('../assets/fonts/Inter-Bold.woff') format('woff');
            }
            @font-face {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
                url('../assets/fonts/Inter-Regular.woff') format('woff');
            }
        </style>
    </head>
    <body>
        <div id="root">
        </div>
    </body>
</html>
